@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome please choose what you'd like to see</data></h1>
    <p><a class="btn btn-primary" href="/Home/Vehicle_Table">View Vehicle Table</a></p>
    <p><a class="btn btn-primary" href="/Home/ErrorVehicle_Table">View Error Vehicle Table</a></p>
</div>
